# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode

# MacOS
.DS_Store

# assets folders
*/assets/data
*/assets/images
*/assets/models
*/assets/sounds
*/utils/face_detector/models
*/assets/3d

# video
*.mp4

# api key
*/assets/pexels_api_key

# env
.env

# pycache
__pycache__